MarkovChains/
.DS_Store
KL_Q.mp4
KL_Q_norm.mp4
Q_analysis.ipynb
alpha_KDE_MD.ipynb
alpha_movie.dump
alpha_movie.mp4
alpha_movie_rotated.dump
alpha_movie_rotated_KL.dump
alpha_movie_rotated_KL_norm.dump
alpha_shape_movie.ipynb
alpha_shape_movie_2.ipynb
plots/
pos_cyclooctane_reordered.dump
pos_cyclooctane_reordered_KL.dump
pos_cyclooctane_reordered_KL_norm.dump
random_images/
test.dump
__pycache__/
alpha_KDE_MD_coefficients_old.ipynb