MarkovChains/
.DS_Store
alpha_KDE_MD.ipynb
alpha_shape_movie.ipynb
alpha_shape_movie_NN.ipynb
alpha_KDE_MD_coefficients_old.ipynb
Q_analysis.ipynb
Q_movie.ipynb
plots/
dump/
movies/
random_images/
__pycache__/
*.dump
*.mp4